* {
  margin: 0;
  padding: 0;
}

:root {
  /* main colors          */
  --black: #191919;
  --gray: #999999;
  --white: #eeeeee;
  /* -------------------- */

  /* interactivity colors */
  --purple: #45214a;
  --navy: #323050;
  --blue: #21445b;
  --sea: #1a6566;
  --green: #5d8a66;
  /* -------------------- */

  --background-color: var(--black);
  --text-color: var(--white);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-size: x-large;
  font-weight: 200;
}
h2 {
  font-weight: 200;
  font-size: large;
  font-style: italic;
}
h3 {
  font-size: medium;
  font-weight: 200;
}

/* Header */
header {
  height: 8vh; /* 8/100 */
  display: flex;
  justify-content: space-between;
}
.header-name {
  padding-left: 2vw;

  display: grid;
  justify-content: left;
  align-content: center;

  text-decoration: none;
  color: var(--text-color);

  font-size: x-large;
  font-weight: 150;
  width: 200px;
}
.header-links {
  padding-right: 2vw;

  width: clamp(30vw, 80vw, 250px); 
  /* min, max, optimal (adjust min/optimal when adding) */

  display: flex;
  justify-content: space-between;
  align-content: center;
}
.header-links a {
  display: grid;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}

.link-button {
  background: rgba(0, 0, 0, 0); /* zero opacity */
  color: var(--text-color);
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  /* transition: all 0.3s ease; */
}

.link-button:hover {
  opacity: 0.2;
  transition: 0.2s ease;
}
.link-button:focus {
  opacity: 0;
}

/* Body */
.home-body {
  height: 88vh; /*  8 + _88_ + 4 / 100  */
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  font-size: small;
  font-weight: 100;
  height: 4vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
