* {
  margin: 0;
  padding: 0;
}

:root {
  /* main colors          */
  --black: #191919;
  --gray: #aaaaaa;
  --white: #eeeeee;
  /* -------------------- */

  /* interactivity colors */
  --purple: #45214a;
  --navy: #323050;
  --blue: #21445b;
  --sea: #1a6566;
  --green: #5d8a66;
  /* -------------------- */

  --background-color: var(--black);
  --text-color: var(--white);
  --writing-color: var(--gray);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.body-template,
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body-template,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-size: xx-large;
  font-weight: 600;
}
h2 {
  font-weight: 400;
  font-size: x-large;
  font-style: italic;
}
h3 {
  font-size: large;
  font-weight: 200;
}
p {
  font-size: small;
  font-weight: 200;
  line-height: 150%;
}

/* Header */
header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.header-name {
  padding: 10px;
  width: 290px;
  display: flex;
  justify-content: space-between;
}
.header-name img {
  height: 30px;
}
.header-icon {
  position: absolute;
  left: 10px;
  width: 30px;
}
#icon-left {
  left: 10px;
}
#icon-right {
  left: 270px;
}
.header-name a {
  position: absolute;
  left: 40px;
  height: 30px;
  width: 230px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 4px;
  font-variant: small-caps;
  color: var(--text-color);
  white-space: nowrap;
  font-size: x-large;
  font-weight: 300;
}
.header-links {
  padding-right: 2vw;

  width: clamp(30vw, 80vw, 250px);
  /* min, max, optimal (adjust min/optimal when adding) */

  display: flex;
  justify-content: space-between;
  align-content: center;
}
.header-links a {
  display: grid;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}
/* header animations */
.header-large a {
  transition: letter-spacing 0.15s 0.15s linear, opacity 0.15s 0.15s linear/*, width 2s linear*/;
  letter-spacing: 4px;
  opacity: 1;
  /*width: 210px;*/
}
.header-large #icon-right {
  transition: left 0.3s ease;
  left: 270px;
}
.header-small a {
  transition: letter-spacing 0.1s linear, opacity 0.1s linear/*, width 0.07s linear*/;
  letter-spacing: 0px;
  opacity: 0;
  /*width: 0px;*/
}
.header-small #icon-right {
  transition: left 0.3s ease;
  left: 10px;
}
/* --------------- */

.link-button {
  background: rgba(0, 0, 0, 0); /* zero opacity */
  color: var(--text-color);
  margin: 0;
  border: 0;
  cursor: pointer;
}

.link-button:hover {
  opacity: 0.3;
  transition: 0.2s ease;
}
.link-button:focus {
  opacity: 0.1;
}

/* Body */
.home-body {
  height: 88vh; /*  8 + _88_ + 4 / 100  */
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* post text */
.body-template {
  height: 92vh;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0%;
  padding-bottom: 0%;

  display: grid;
  justify-content: center;

  overflow-y: scroll;
}
.body-text {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: var(--writing-color);
}
.body-text h1 {
  font-size: xx-large;
  font-weight: 400;
}
.body-text h2 {
  font-size: x-large;
  font-weight: 300;
}
.body-text h3 {
  font-size: large;
  font-weight: 300;
}
.body-text p {
  font-size: medium;
  font-weight: 200;
}
/* -------------------- */
