<div class="header-name">
  <img src="./assets/left-thick-icon.svg" class="header-icon" id="icon-left" />
  <a class="link-button slant" href="./index.html">Tyler Feemster</a>
  <img src="./assets/right-thick-icon.svg" class="header-icon" id="icon-right" />
</div>
<div class="header-links">
  <a class="link-button" href="./ph.html">
    <h3>Philosophy</h3>
  </a>
  <a class="link-button" href="./ab.html">
    <h3>About</h3>
  </a>
  <a class="link-button" href="./page.html">
    <h3>T</h3>
  </a>
</div>
