<div class="header-name">
  <img src="./assets/left-thick-icon.svg" class="header-icon" id="icon-left" />
  <a class="link-button" href="./index.html">Tyler Feemster</a>
  <img
    src="./assets/right-thick-icon.svg"
    class="header-icon"
    id="icon-right"
  />
</div>
<div class="header-links">
  <a class="link-button" href="./ab.html">
    <h3>About</h3>
  </a>
  <a class="link-button" href="./page.html">
    <h3>Writing</h3>
  </a>
  <a class="link-button" href="https://substack.com/@tylerfeemster">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor"
      class="bi bi-substack"
      viewBox="0 0 16 16"
    >
      <path
        d="M15 3.604H1v1.891h14v-1.89ZM1 7.208V16l7-3.926L15 16V7.208zM15 0H1v1.89h14z"
      />
    </svg>
  </a>
</div>
